:root {
  /* https://coolors.co/palette/03045e-0077b6-00b4d8-90e0ef-caf0f8 */
  --midnight-blue: hsla(239, 94%, 19%, 1);
  --star-command-blue: hsla(201, 100%, 36%, 1);
  --pacific-blue: hsla(190, 100%, 42%, 1);
  --middle-blue: hsla(189, 75%, 75%, 1);
  --light-cyan: hsla(190, 77%, 88%, 1);
  --margin-side: 10px;

  --light-navbar-bg: #559de0;
  --light-content-bg: #dfdfdf23;
  --light-text-color: white;

  --dark-navbar-bg: #0D1B2A;
  --dark-content-bg: #415a77;
  --dark-text-color: #E0E1DD;

  --primary-btn: #0051B6;
  --primary-btn-darker: #002C62;
  --primary-btn-border: #01418f;

  --navbar-bg: var(--light-navbar-bg);
  --content-bg: var(--light-content-bg);
  --text-color: var(--light-text-color);

  --easy-read: 900px;

}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--primary-btn);
  --bs-btn-border-color: var(--primary-btn-border);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-btn-darker);
  --bs-btn-hover-border-color: var(---primary-btn);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-btn);
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--primary-btn-border);
  --bs-btn-disabled-border-color: var(--primary-btn-border);
}

html {
  box-sizing: border-box
}

/* The Universal Selector */
*,
/* All elements*/
*::before,
/* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: var(--content-bg);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  /* display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto 1fr;
  min-height: 100vh;

  grid-template-areas:
  "nav nav nav"
  "main main main"; */
}



#contact-points {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50vw;
  max-width: var(--easy-read);
  font-size: 3rem;
  color: var(--text-color);
}

.navbar {
  font-size: 1.5rem;
  background-color: var(--navbar-bg);
}

.nav-item {
  color: var(--text-color);
}

.nav-item-highlight {
  color: var(--text-color);
  text-decoration: underline;
  font-weight: 600;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin: 1rem;
}

#content {
  max-width: var(--easy-read);
}

#content>h1 {
  margin: 10px 0;
  text-align: center;
}

#contact-points a:link {
  color: var(--text-color);
  margin: 0 2rem;
}

#contact-points a,
#contact-points a:visited,
#contact-points a:link {
  color: var(--text-color);
}

#contact-points>a {
  align-items: center; 

}
#bgMusic-btn {
  font-size: 1rem;
  border-radius: 10px;
  margin-right: 2vw;
  margin-left: auto;
}


#light-dark-input {
  margin-left: auto;
  margin-right: 10px;
}
.fa-lightbulb {
  font-size: 2rem;
}

#content>p {
  font-size: 1.25rem;
}

#portfolio-creator-name {
  font-weight: 600;
}


/* 
nav#navbar {
  background-color: var(--navbar-bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  grid-area: nav;
}

nav>.nav-item {
  display: block;
  padding: 15px 5px;
  font-size: 1.5rem;
  margin-left: var(--margin-side);
}

nav>div:last-child {
  margin-left: auto;
  margin-right: 10px;
  font-size: 2rem;
}
 */


/* Tablet Breakpoint */
/* @media only screen and (min-width: 768px) {} */

/* Desktop Breakpoint */
/* @media only screen and (min-width: 1024px) {

  nav#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  nav>.nav-item {
    display: block;
    padding: 15px 5px;
  }

  nav>button {
    margin-left: auto;
    padding: 1rem;
  }
} */